Repository rootwyrm/dns_docker, changes with the labels that .github/labeler.yml gives for each.
All labels: dndsist, unbound, nsd, base, ci-suite

Create placeholder
  docs/placeholder
Labels: none

Set theme jekyll-theme-slate
  docs/_config.yml
Labels: none

http cats are great
  docs/404.md
Labels: none

Update README.md
  README.md
Labels: none

See if this works as hoped
  docs/index.md
Labels: none

Update benchmark notes Turns out those initial runs? Completely invalid. Yay.
  benchmarks/dnsdist.md
  benchmarks/notes.md
  benchmarks/nsd.md
  benchmarks/unbound.md
Labels: none

Add cluster mode ports to nsd and unbound
  nsd/Dockerfile
  nsd/conf/nsd.conf
  unbound/Dockerfile
  unbound/conf/unbound.conf
Labels: unbound, nsd

Various fixes
  base/appbase/bin/identify.sh
  base/appbase/lib/system.lib.sh
  docker-compose.yml
  nsd/application/build/10.nsd.sh
  nsd/conf/nsd.conf
  nsd/conf/nsd.conf.orig
  unbound/conf/unbound.conf
Labels: unbound, nsd, base

add beginnings of test suite, update compose
  ci/tests/query/localroot.csv
  docker-compose.yml
Labels: ci-suite

fix ipv6 behavior, enable rpz capability
  unbound/conf/unbound.conf
Labels: unbound

Change how we get the IP addresses.
  base/appbase/lib/deploy.lib.sh
  dnsdist/conf/dnsdist.conf
Labels: dndsist, base

Change the location of /run to be in the volumes
  base/Dockerfile
Labels: base

Fix a typo I introduced in a prior commit
  nsd/application/build/10.nsd.sh
Labels: nsd

Fix another typo I introduced, build being weird.
  unbound/conf/unbound.conf
Labels: unbound

Fix dnsdist, still diagnosing caching issues
  dnsdist/Dockerfile
  dnsdist/application/bin/firstboot
  dnsdist/conf/dnsdist.conf.orig
  dnsdist/init.d/dnsdist
Labels: dndsist

Several more fixes
  base/Dockerfile
  nsd/init.d/nsd
  unbound/application/build/10.unbound.sh
  unbound/conf/unbound.conf
Labels: unbound, nsd, base

Another round of fixes going in...
  base/Dockerfile
  base/appbase/bin/identify.sh
  base/init.d/rootwyrm
  nsd/Dockerfile
  nsd/application/bin/firstboot
  nsd/init.d/nsd
  unbound/Dockerfile
  unbound/application/bin/firstboot
  unbound/conf/unbound.conf.orig
  unbound/init.d/unbound
Labels: unbound, nsd, base

Add a fixed workflow for base
  .github/workflows/base.yml
Labels: none

Whoops.
  .github/workflows/base.yml
Labels: none

Fix up dnsdist, try to debug hub 403.
  ci/tools/manifest_clean.py
  dnsdist/application/bin/firstboot
  dnsdist/conf/dnsdist.conf.orig
  dnsdist/init.d/dnsdist
Labels: dndsist, ci-suite

Tweak debug.
  ci/tools/manifest_clean.py
Labels: ci-suite

Add forward-zones to unbound.conf defaults
  unbound/conf/unbound.conf.orig
Labels: unbound

Hmm, well that was unexpected.
  ci/tools/manifest_clean.py
Labels: ci-suite

more fixes for dnsdist and manifest tools...
  SECURITY.md
  base/init.d/rootwyrm
  ci/tools/manifest_clean.py
  dnsdist/application/bin/firstboot
  dnsdist/conf/dnsdist.conf.orig
  dnsdist/conf/webserver.conf
  dnsdist/init.d/dnsdist
  docker-compose.yml
Labels: dndsist, base, ci-suite

Fix dnsdist to be supervised under openrc
  base/rc.conf
  dnsdist/init.d/dnsdist
Labels: dndsist, base

Switch everything to dnsdocker:dnsdocker
  base/Dockerfile
  base/appbase/lib/deploy.lib.sh
  base/rc.conf
  dnsdist/application/bin/firstboot
  dnsdist/application/build/10.dnsdist.sh
  nsd/application/bin/firstboot
  nsd/application/build/10.nsd.sh
  nsd/conf/nsd.conf
  nsd/conf/nsd.conf.orig
  nsd/init.d/nsd
  unbound/application/bin/firstboot
  unbound/application/build/10.unbound.sh
  unbound/conf/unbound.conf.orig
  unbound/init.d/unbound
Labels: dndsist, unbound, nsd, base

Unbreak build with tyops again.
  base/Dockerfile
Labels: base

Trying Travis-CI because native-arm64.
  .travis.yml
Labels: none

the tyop monstre strikes agian.
  .travis.yml
Labels: none

it's a mondya.
  .travis.yml
Labels: none

fix arch line
  .travis.yml
Labels: none

Okay, be that way.
  .travis.yml
Labels: none

Start adding some unit test pieces.
  ci/tests/query/dnssec.csv
  ci/tests/query/recurse.csv
  ci/tests/query/run_test.sh
Labels: ci-suite

trying to unbreak travis
  .travis.yml
Labels: none

Ah-ha.. but the matrix logic is bassackwards.
  .travis.yml
Labels: none

I'm not testing actual python.. sigh.
  .travis.yml
Labels: none

try language minimal...
  .travis.yml
Labels: none

Couldn't be this easy...
  .travis.yml
Labels: none

Change dnsdist to expose the webserver config.
  dnsdist/application/bin/firstboot
  dnsdist/conf/dnsdist.conf.orig
  dnsdist/conf/webserver.conf.orig
Labels: dndsist

Fixes #17
  dnsdist/application/bin/firstboot
Labels: dndsist

.github/labeler.yml:

dndsist:
- 'dnsdist/**/*'
unbound:
- 'unbound/**/*'
nsd:
- 'nsd/**/*'
base:
- 'base/**/*'
ci-suite:
- 'ci/**/*'
