Repository rootwyrm/dns_docker, changes with the labels that .github/labeler.yml gives for each.
All labels: dndsist, unbound, nsd, base, ci-suite

Add the post-manifest hook to clean up tags.
  .github/workflows/build_train.yml
  ci/hooks/post_manifest
Labels: ci-suite

Whoops, fix typo.
  ci/hooks/post_manifest
Labels: ci-suite

json got parsed oddly.
  ci/hooks/post_manifest
  docker-compose.yml
Labels: ci-suite

Update README.md
  README.md
Labels: none

Fix post_manifest jq parse
  ci/hooks/post_manifest
Labels: ci-suite

Fix typo in firstboot
  base/service/firstboot/run
Labels: base

Fix workflow and docker compose
  .github/workflows/build_train.yml
  docker-compose.yml
Labels: none

Fix workflow path detections.
  .github/workflows/dnsdist.yml
  .github/workflows/nsd.yml
  .github/workflows/unbound.yml
Labels: none

Some more cleanup
  ci/trigger
  dnsdist/README.md
  dnsdist/build.trigger
  nsd/README.md
  nsd/build.trigger
  unbound/README.md
  unbound/build.trigger
Labels: dndsist, unbound, nsd, ci-suite

Forgot to add post-manifest hooks.
  .github/workflows/dnsdist.yml
  .github/workflows/nsd.yml
  .github/workflows/unbound.yml
Labels: none

Add base dnsdist.conf
  dnsdist/conf/dnsdist.conf
  dnsdist/conf/dnsdist.conf.orig
Labels: dndsist

Update dnsdist to now have a default config.
  dnsdist/Dockerfile
  dnsdist/application/firstboot/dnsdist.sh
  dnsdist/sv/dnsdist/run
Labels: dndsist

Fix a typo in dnsdist Dockerfile.
  dnsdist/Dockerfile
Labels: dndsist

Set executable bit on dnsdist firstboot
  dnsdist/application/firstboot/dnsdist.sh
Labels: dndsist

Fully cleaned up nsd ready to rock.
  nsd/Dockerfile
  nsd/application/build/10.nsd.sh
  nsd/application/firstboot/nsd.sh
  nsd/conf/nsd.conf
  nsd/conf/nsd.conf.orig
  nsd/sv/nsd/run
Labels: nsd

Whoops, fix the FROM
  nsd/Dockerfile
Labels: nsd

Work around inconsistent jq versions.
  ci/hooks/post_manifest
Labels: ci-suite

Fix firstboot scripts slightly.
  base/service/firstboot/finish
  base/service/firstboot/run
Labels: base

add additional note to README.md
  base/README.md
Labels: base

Fully working dnsdist coming up.
  dnsdist/Dockerfile
  dnsdist/README.md
  dnsdist/application/firstboot/dnsdist.sh
  dnsdist/conf/dnsdist.conf
  dnsdist/sv/dnsdist/run
Labels: dndsist

Needs a permissions fixup.
  nsd/application/firstboot/nsd.sh
Labels: nsd

Fix tag deletion the lazy way.
  ci/hooks/post_manifest
Labels: ci-suite

And that's unbound
  unbound/Dockerfile
  unbound/application/build/10.unbound.sh
  unbound/application/firstboot/unbound.sh
  unbound/conf/unbound.conf
  unbound/sv/unbound/finish
  unbound/sv/unbound/run
Labels: unbound

Stop excessively building, dangit...
  .github/workflows/build_train.yml
Labels: none

Let's see if we can trigger some workflows.
  .github/workflows/nsd.yml
Labels: none

So that worked. Let's see if this works...
  .github/workflows/base.yml
  .github/workflows/build_train.yml
Labels: none

Trigger base to trigger workflow
  base/build.trigger
Labels: base

Helps to actually have the step.
  .github/workflows/base.yml
  base/build.trigger
Labels: base

... also a runs-on
  .github/workflows/base.yml
  base/build.trigger
Labels: base

Apparently don't need that many quotes.
  .github/workflows/base.yml
  base/build.trigger
Labels: base

Okay, maybe needs more quotes.
  .github/workflows/base.yml
  base/build.trigger
Labels: base

... less quotes again? I really should just do this in Python.
  .github/workflows/base.yml
  base/build.trigger
Labels: base

Always the last typo you look for.
  .github/workflows/base.yml
  base/build.trigger
Labels: base

Now the build chains.
  .github/workflows/base.yml
  .github/workflows/dnsdist.yml
  .github/workflows/unbound.yml
  base/build.trigger
Labels: base

stuff and things
  .github/workflows/base.yml
  README.md
  docker-compose.yml
Labels: none

Add some debug to the post_manifest, something isn't passing right.
  ci/hooks/post_manifest
Labels: ci-suite

hopefully make the post_manifest less suck.
  .github/workflows/nsd.yml
  nsd/tags
Labels: nsd

try that again.
  .github/workflows/nsd.yml
  nsd/build.target
Labels: nsd

ah, missing requests. Figures.
  .github/workflows/nsd.yml
  nsd/build.target
Labels: nsd

apparently i need a whole venv
  .github/workflows/nsd.yml
  nsd/build.target
Labels: nsd

.github/labeler.yml:

dndsist:
- 'dnsdist/**/*'
unbound:
- 'unbound/**/*'
nsd:
- 'nsd/**/*'
base:
- 'base/**/*'
ci-suite:
- 'ci/**/*'
