Repository rootwyrm/dns_docker, changes with the labels that .github/labeler.yml gives for each.
All labels: dndsist, unbound, nsd, base, ci-suite

Try, try again...
  .github/workflows/nsd.yml
Labels: none

Try it a different way. Doesn't have python3-venv installed, which is weird, but whatever.
  .github/workflows/nsd.yml
  nsd/build.target
Labels: nsd

add manifest tester...
  .github/workflows/manifest.yml
  ci/tools/docker_hub_tag_cleaner.py
Labels: ci-suite

Whoops, forgot to set executable here.
  ci/tools/docker_hub_tag_cleaner.py
Labels: ci-suite

Bah!
  ci/tools/docker_hub_tag_cleaner.py
Labels: ci-suite

uuuuuuuuugh.
  ci/tools/docker_hub_tag_cleaner.py
Labels: ci-suite

It's in tools, not hooks.
  .github/workflows/dnsdist.yml
  .github/workflows/nsd.yml
  .github/workflows/unbound.yml
Labels: none

Needs to be a COPY ADD doesn't behave as documented on some versions apparently.
  nsd/Dockerfile
Labels: nsd

Correct typo.
  nsd/sv/nsd/run
Labels: nsd

Forgot to switch off test again.
  nsd/Dockerfile
Labels: nsd

Fix volumes and ipv6 Need to temporarily disable ipv6 to validate sysctls and volumes
  docker-compose.yml
Labels: none

Switch to using runit-init instead of runsvdir
  base/Dockerfile
  base/appbase/bin/firstboot
  base/build.trigger
  base/runit/1
  base/runit/2
  base/runit/3
  base/service/firstboot/finish
Labels: base

Correct firstboot to work within runinit-init
  base/appbase/bin/firstboot
Labels: base

Some additional fixes to base
  base/Dockerfile
  base/appbase/bin/firstboot
  base/service/cron/finish
Labels: base

Try it with python3.7? Sigh.
  ci/tools/manifest_clean.py
Labels: ci-suite

pip3 is using 3.8, not 3.7.
  ci/tools/docker_hub_tag_cleaner.py
  ci/tools/manifest_clean.py
Labels: ci-suite

Fix build train to use the tag cleaner
  .github/workflows/build_train.yml
Labels: none

Some more nsd cleanup Still isn't shutting down cleanly within runit due to limitations in runit itself.
  nsd/Dockerfile
  nsd/README.md
  nsd/cron/15min/nsd
  nsd/cron/hourly/nsd
  nsd/sv/nsd/control/d
  nsd/sv/nsd/control/h
  nsd/sv/nsd/control/t
  nsd/sv/nsd/control/u
  nsd/sv/nsd/finish
  nsd/sv/nsd/log/run
Labels: nsd

OpenRC test set Switched over to OpenRC, but, may not be what I want here either.
  base/Dockerfile
  base/init.d/dcron
  base/rc.conf
  base/supervisord.conf
  nsd/Dockerfile
  nsd/application/bin/firstboot
  nsd/application/build/10.nsd.sh
  nsd/init.d/nsd
  nsd/sv/nsd/control/d
  nsd/sv/nsd/control/h
  nsd/sv/nsd/control/t
  nsd/sv/nsd/control/u
  nsd/sv/nsd/finish
  nsd/sv/nsd/log/run
  nsd/sv/nsd/run
Labels: nsd, base

Switching over to openrc
  base/Dockerfile
  base/appbase/bin/firstboot
  base/rc.conf
  base/runit/1
  base/runit/2
  base/runit/3
  base/supervisord.conf
  dnsdist/Dockerfile
  dnsdist/application/bin/firstboot
  dnsdist/application/build/10.dnsdist.sh
  dnsdist/conf/dnsdist.conf
  dnsdist/id.service
  dnsdist/init.d/dnsdist
  dnsdist/sv/dnsdist/finish
  dnsdist/sv/dnsdist/run
  nsd/Dockerfile
  nsd/init.d/nsd
  unbound/Dockerfile
  unbound/application/bin/firstboot
  unbound/application/build/10.unbound.sh
  unbound/application/firstboot/unbound.sh
  unbound/init.d/unbound
  unbound/sv/unbound/finish
  unbound/sv/unbound/run
Labels: dndsist, unbound, nsd, base

Fix erroneous inclusion of cron on dnsdist
  dnsdist/Dockerfile
Labels: dndsist

Remove last vestige of runit
  base/service/cron/run
Labels: base

fix docker-compose
  docker-compose.yml
Labels: none

Fixing various things
  benchmarks/dnsdist.md
  benchmarks/nsd.md
  benchmarks/root-servers-query
  benchmarks/unbound.md
  ci/tools/manifest_clean.py
  dnsdist/README.md
  dnsdist/conf/dnsdist.conf
  docker-compose.yml
  host_install.sh
  nsd/application/bin/firstboot
  unbound/conf/unbound.conf
Labels: dndsist, unbound, nsd, ci-suite

Make some improvements to the deploy library
  base/appbase/lib/deploy.lib.sh
Labels: base

Fix base train building, start moving toward release
  .github/workflows/base.yml
Labels: none

No longer trigger consumers automatically
  .github/workflows/base.yml
Labels: none

Pushing to see if this does what I want.
  .github/workflows/release_nsd.yml
  ci/tools/install.manifest-tool.sh
  nsd/application/bin/firstboot
  nsd/application/nsd.version
Labels: nsd, ci-suite

Curse you, typos.
  .github/workflows/release_nsd.yml
Labels: none

Silly me.
  .github/workflows/release_nsd.yml
Labels: none

Reversed my orders..
  .github/workflows/release_nsd.yml
Labels: none

make some things better
  .github/workflows/nsd.yml
  .github/workflows/release.yml
  .github/workflows/release_nsd.yml
  ci/tools/manifest_clean.py
Labels: ci-suite

hmm, json problems again.
  .github/workflows/release_nsd.yml
Labels: none

that was silly
  .github/workflows/release_nsd.yml
Labels: none

Some more rework of workflows
  .github/workflows/build_train.disable
  .github/workflows/ci_quick.yml
  .github/workflows/release.yml
Labels: none

Fix a typo bug in deploy library.
  base/appbase/lib/deploy.lib.sh
Labels: base

Prep for 1.0.0...
  .github/base.yml
  .github/build_train.disable
  .github/dnsdist.yml
  .github/nsd.yml
  .github/unbound.yml
  .github/workflows/nsd.yml
  .github/workflows/release.yml
  .github/workflows/release_nsd.yml
  dnsdist/Dockerfile
  dnsdist/application/bin/firstboot
  dnsdist/application/dnsdist.version
  dnsdist/conf/dnsdist.conf
  nsd/Dockerfile
  nsd/application/bin/firstboot
  unbound/Dockerfile
  unbound/application/bin/firstboot
  unbound/application/unbound.version
Labels: dndsist, unbound, nsd

Ready to go, branch 1.0.0 after this commit.
  .github/workflows/dnsdist.yml
  .github/workflows/release.yml
  .github/workflows/unbound.yml
Labels: none

Fix gitignore
  .gitignore
Labels: none

Create SECURITY.md
  SECURITY.md
Labels: none

.github/labeler.yml:

dndsist:
- 'dnsdist/**/*'
unbound:
- 'unbound/**/*'
nsd:
- 'nsd/**/*'
base:
- 'base/**/*'
ci-suite:
- 'ci/**/*'
