Repository rootwyrm/dns_docker, changes with the labels that .github/labeler.yml gives for each.
All labels: dndsist, unbound, nsd, base, ci-suite

Bump dnsdist to 1.5.0-rc4
  dnsdist/application/bin/firstboot
  dnsdist/application/build/10.dnsdist.sh
  dnsdist/application/dnsdist.version
Labels: dndsist

Add /rebase because I know I suck at rebasing.
  .github/workflows/cirrus_rebase.yml
Labels: none

add the prerequisites.
  PREREQUISITES.md
Labels: none

Remove IPv6 from webserver default
  dnsdist/conf/webserver.conf.orig
Labels: dndsist

Various fixes...
  dnsdist/conf/dnsdist.conf.orig
  nsd/Dockerfile
  nsd/application/bin/firstboot
  nsd/conf/nsd.conf
  nsd/conf/nsd.conf.orig
  unbound/conf/unbound.conf.orig
Labels: dndsist, unbound, nsd

fix manifest cleaning, add some documentation
  .github/workflows/dnsdist.yml
  .github/workflows/nsd.yml
  .github/workflows/unbound.yml
  docs/system_tuning.md
Labels: none

Major refactor of library functions for firstboot
  base/appbase/lib/system.lib.sh
  dnsdist/application/bin/firstboot
  nsd/application/bin/firstboot
  unbound/application/bin/firstboot
Labels: dndsist, unbound, nsd, base

Restructure dnsdist config directories to be nicer
  dnsdist/application/bin/firstboot
  dnsdist/application/build/10.dnsdist.sh
Labels: dndsist

Forgot to fix two pieces.
  dnsdist/application/bin/firstboot
  dnsdist/conf/dnsdist.conf.orig
Labels: dndsist

try something with travis.
  .travis.yml
Labels: none

show me what you're smoking..
  .travis.yml
Labels: none

move travis out of the way, doesn't do what I need.
  .travis.no
Labels: none

Fix old use of SYSTEM_IP4
  nsd/application/bin/firstboot
Labels: nsd

fix some typo
  dnsdist/application/bin/firstboot
  dnsdist/init.d/dnsdist
Labels: dndsist

Missed some bits cleaning up directories.
  dnsdist/Dockerfile
  dnsdist/application/bin/firstboot
Labels: dndsist

Whoops, that's a typo.
  dnsdist/application/bin/firstboot
Labels: dndsist

Push docker-compose update for testing.
  docker-compose.yml
Labels: none

some more tyops fix
  docker-compose.yml
Labels: none

fix stupid mistake
  docker-compose.yml
Labels: none

Fix ports, missed a behavior change.
  docker-compose.yml
Labels: none

Add ports for prometheus exporters
  dnsdist/application/bin/firstboot
  dnsdist/conf/dnsdist.conf.orig
  docker-compose.yml
Labels: dndsist

Add the beginnings of some exporters
  install/nsd_exporter.sh
Labels: none

add some exporters... nsd_exporter is broken
  install/init.d/nsd_exporter
  install/init.d/unbound_exporter
  install/unbound_exporter.sh
Labels: none

Fix a minor bug.
  install/unbound_exporter.sh
Labels: none

forgot to copy in the license for exporter, no bueno.
  install/unbound_exporter.sh
Labels: none

forgot to set it executable. Derp.
  install/init.d/unbound_exporter
Labels: none

turn on extended-statistics
  unbound/conf/unbound.conf.orig
Labels: unbound

Update FUNDING.yml
  .github/FUNDING.yml
Labels: none

Add automatic reloading on config change
  base/Dockerfile
  base/appbase/build/fswatch.sh
  base/init.d/iwatch
  dnsdist/conf/iwatch.xml
  docker-compose.yml
  install/unbound_exporter.sh
  nsd/conf/iwatch.xml
  unbound/conf/iwatch.xml
Labels: dndsist, unbound, nsd, base

add a tool to convert rapid7 open data datasets
  benchmarks/rapid7_tool.sh
Labels: none

Lots of fixes going in here...
  .github/workflows/dns_bench.yml
  benchmarks/README.md
  ci/hooks/pre_build
Labels: ci-suite

Add dns_bench and hopefully have it build.
  benchmarks/dns_bench/Dockerfile
  benchmarks/dns_bench/README.md
  benchmarks/dns_bench/benchmark/bench_it.sh
  benchmarks/dns_bench/benchmark/build_dnsblast.sh
  benchmarks/dns_bench/benchmark/build_oarc.sh
Labels: none

Fix some things...
  .github/workflows/dns_bench.yml
  ci/hooks/pre_build
Labels: ci-suite

Hopefully fix a weird issue...
  ci/hooks/pre_build
Labels: ci-suite

Fix a trigger
  .github/workflows/dns_bench.yml
Labels: none

Bump to dnsdist 1.5.0
  base/appbase/build/fswatch.sh
  base/appbase/lib/system.lib.sh
  benchmarks/dns_bench/benchmark/bench_it.sh
  dnsdist/application/bin/firstboot
  dnsdist/application/build/10.dnsdist.sh
  dnsdist/application/dnsdist.version
  dnsdist/conf/dnsdist.conf.orig
  docker-compose.yml
Labels: dndsist, base

Update system_tuning.md
  docs/system_tuning.md
Labels: none

Update system_tuning.md
  docs/system_tuning.md
Labels: none

actually fix fix things
  docs/system_tuning.md
Labels: none

Set up CI with Azure Pipelines
  azure-pipelines.yml
Labels: none

.github/labeler.yml:

dndsist:
- 'dnsdist/**/*'
unbound:
- 'unbound/**/*'
nsd:
- 'nsd/**/*'
base:
- 'base/**/*'
ci-suite:
- 'ci/**/*'
