Repository rootwyrm/dns_docker, changes with the labels that .github/labeler.yml gives for each.
All labels: dndsist, unbound, nsd, base, ci-suite

.github/labeler.yml:

dndsist:
- 'dnsdist/**/*'
unbound:
- 'unbound/**/*'
nsd:
- 'nsd/**/*'
base:
- 'base/**/*'
ci-suite:
- 'ci/**/*'

Switch to a single environment file.
  docker-compose.yml
Labels: none

Fix an issue with replacing default subnet
  dnsdist/application/bin/firstboot
Labels: dndsist

Fix iwatch; forgot to point to the correct config file.
  base/init.d/iwatch
Labels: base

Tweak unbound configuration
  unbound/conf/unbound.conf.orig
Labels: unbound

Add logrotate configuration
  base/Dockerfile
  base/appbase/logrotate/logrotate.conf
Labels: base

Add logging into dnsdist via rsyslog
  dnsdist/application/build/10.dnsdist.sh
  dnsdist/application/build/20.rsyslog.sh
  dnsdist/conf/dnsdist.conf.orig
Labels: dndsist

Really fix dnsdist logging.
  dnsdist/application/build/20.rsyslog.sh
  dnsdist/conf/dnsdist.conf.orig
Labels: dndsist

Clean up unused CI
  .travis.no
  azure-pipelines.yml
Labels: none

Start reorganizing, temporarily turn off pushing.
  .github/workflows/dnsdist.yml
  container/base/Dockerfile
  container/base/README.md
  container/base/appbase/bin/identify.sh
  container/base/appbase/id.service
  container/base/appbase/lib/deploy.lib.sh
  container/base/appbase/lib/system.lib.sh
  container/base/appbase/logrotate/logrotate.conf
  container/base/hooks/pre_build
  container/base/init.d/dcron
  container/base/init.d/iwatch
  container/base/init.d/rootwyrm
  container/base/rc.conf
  container/dnsdist/CHANGELOG
  container/dnsdist/Dockerfile
  container/dnsdist/README.md
  container/dnsdist/application/bin/firstboot
  container/dnsdist/application/build/10.dnsdist.sh
  container/dnsdist/application/build/20.rsyslog.sh
  container/dnsdist/application/dnsdist.version
  container/dnsdist/application/id.service
  container/dnsdist/build.conf
  container/dnsdist/conf/dnsdist.conf.orig
  container/dnsdist/conf/iwatch.xml
  container/dnsdist/conf/webserver.conf.orig
  container/dnsdist/hooks/pre_build
  container/dnsdist/init.d/dnsdist
  container/dnsdist/manifest.yml
  container/dnsdist/tags
Labels: none

Built the wrong container copy.
  .github/workflows/dnsdist.yml
Labels: none

Fix a bug in pre_build I keep forgetting about
  .github/workflows/dnsdist.yml
  ci/hooks/pre_build
Labels: ci-suite

Add some more action debugging...
  .github/workflows/dnsdist.yml
  ci/hooks/pre_build
Labels: ci-suite

Start moving stuff around, validate binfmt changes.
  .github/workflows/cicd_base.yml
  .github/workflows/dnsdist.yml
  container/dnsdist/Dockerfile
  container/docker-bake.hcl
Labels: none

Switch to linuxkit/binfmt for the moment.
  .github/workflows/cicd_base.yml
  .github/workflows/dnsdist.yml
  .github/workflows/nsd.yml
  .github/workflows/pr_dnsdist.yml
  .github/workflows/release.yml
  .github/workflows/unbound.yml
Labels: none

Fix linuxkit tag
  .github/workflows/cicd_base.yml
  .github/workflows/dnsdist.yml
  .github/workflows/nsd.yml
  .github/workflows/pr_dnsdist.yml
  .github/workflows/release.yml
  .github/workflows/unbound.yml
Labels: none

Unbreak unbound builds.
  base/appbase/logrotate/logrotate.conf
  unbound/application/bin/firstboot
Labels: unbound, base

Update compose with corrected unbound layout.
  docker-compose.yml
Labels: none

Add an OSPF/BGP compose file...
  compose-ospf.yml
Labels: none

Hmm, well that's not behaving as desired...
  compose-ospf.yml
Labels: none

Add a bind container... in-house thing.
  .github/workflows/bind.yml
  container/bind/Dockerfile
  container/bind/README.md
  container/bind/application/bin/firstboot
  container/bind/application/bind.version
  container/bind/application/build/10.bind.sh
  container/bind/application/id.service
  container/bind/conf/iwatch.xml
  container/bind/cron/15min/bind
  container/bind/manifest.yml
  container/bind/tags
Labels: none

fix the prebuild hook
  .github/workflows/bind.yml
Labels: none

whoops, full path.
  .github/workflows/bind.yml
Labels: none

Unbreak build by adding the init script
  container/bind/application/id.service
  container/bind/init.d/bind
Labels: none

fix stupid typo
  container/bind/init.d/bind
Labels: none

just... wow
  container/bind/init.d/bind
Labels: none

Bump dnsdist to 1.5.1
  container/dnsdist/application/build/10.dnsdist.sh
  container/dnsdist/application/dnsdist.version
Labels: none

Fix iwatch.xml due to changed perl behaviors.
  container/dnsdist/conf/iwatch.xml
Labels: none

Turn on publishing from containers/dnsdist
  .github/workflows/dnsdist.yml
Labels: none

Fix bug in ACL handling.
  container/dnsdist/application/bin/firstboot
Labels: none

Who has two thumbs and forgot to --disable-chroot?
  container/bind/application/build/10.bind.sh
Labels: none

fix init script
  container/bind/init.d/bind
Labels: none

Unbreak the bind build.
  container/bind/application/build/10.bind.sh
Labels: none

Fix missing directory.
  container/bind/init.d/bind
Labels: none

Add Prometheus bind-exporter
  container/bind/application/build/10.bind.sh
  container/bind/init.d/bind_exporter
Labels: none

add tweaked cicd
  .github/workflows/cicd.bind.yml
Labels: none

fix typo in base
  .github/workflows/cicd_base.yml
Labels: none

fix a typo in manifest.yml
  container/bind/manifest.yml
Labels: none

fix typo
  .github/workflows/cicd.bind.yml
Labels: none

rename trigger
  .github/workflows/cicd.bind.yml
Labels: none

fix another typo.
  .github/workflows/cicd.bind.yml
Labels: none
